html, body {
    display: flex;
    position: absolute;
    overflow: hidden;

    overscroll-behavior-x: none;
    overscroll-behavior-y: none;

    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
    border: 0px;

    background-color: black;
    zoom: 100%;

    font-size: 18px;

    /* font smoothing */
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;

    /* text-size-adjust fixes issue with contenteditable fonts being tiny */
    text-size-adjust: 100%;


    /* disable pinch-zoom browser action, but still available to JS */
    touch-action: none;

    /* disable left-right paging on windows surface */
    -ms-scroll-chaining: none;
}

/* an attempt to deal with tiny fonts on mobile */
/* NOTE: I've read use of * can slow down rendering, so try to avoid them and see if that helps */

/*
html * {
    min-height: 1px;
    max-height: 999999px;
    zoom: 100%;
}
*/

/* to avoid slow/choppy handling of touchmove events */

* {
    touch-action: pan-y;
}

/* use border-box to make sure padding is included in dom width calculations */

* {
    box-sizing: border-box;
}

* {
    overflow: hidden;
}

/* avoid outlines */

/*
html * {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}

html * :focus {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}

html * :active {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}

*/

/* --- */

html {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}

* :focus {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}

html :active {
    outline: none;
    outline-style: none;
    -moz-outline-style: none;
}
