

.BMFieldValueView br {
    display: none;
}

.BMFieldValueView * {
    display: inline;
    white-space: nowrap;
}

/*
.BMTextAreaFieldValueView {
    display: flex;
    position: relative;
	padding: 0;
    margin: 0;
    width: auto;
    min-height: auto;

    word-break: break-all;
   	unicode-bidi: embed;
    white-space: pre-wrap;

    font-weight: normal;
    text-align: left;
}
*/

