
.ImageWellView {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	min-height: 10em;
	min-width: 10em;
	overflow-x: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
	/*border-radius: 5px;*/


    border: 1px solid #444;
    color: white;
    background-color: transparent;
}

.ImageView {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	overflow: hidden;
}

.ImageViewImageContainer { 
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.ImageViewImageObject {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.ImageCloseButton {
    position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;	

	max-width: 30px;
	min-width: 30px;

	min-height: 30px;
	max-height: 30px;

	text-align: center;
	opacity: 0.3;
	z-index: 2;
}

.ImageCloseButton:hover {
	opacity: 1;
}
