
.BrowserDefaultHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: #dbdbdb;
    text-align: right;
    font-style: bold;
	z-index: 1;
}

.BrowserScrollView::-webkit-scrollbar { 
    display: none;  /*  removes scrollbars on Safari and Chrome */
}

/* 
notes on Scroll bars theme options
::-webkit-scrollbar { width: 10px; } 
::-webkit-scrollbar-track { background: #666; } 
::-webkit-scrollbar-thumb { background-color: #f1f1f1; outline: 1px solid slategrey; } 
::-webkit-scrollbar-thumb:hover { background: #b1b1b1; }
*/

