
/*
.BrowserDefaultHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: #dbdbdb;
    text-align: right;
    font-style: bold;
	z-index: 1;
}
*/

 /*  removes scrollbars on Safari and Chrome */
.BrowserScrollView::-webkit-scrollbar { 
    display: none; 
}

/* 
notes on Scroll bars theme options
*/
::-webkit-scrollbar {  display: none; width: 10px; } 
/*
::-webkit-scrollbar-button { display: none; }
*/
::-webkit-scrollbar-thumb { background-color: #aaa; outline: 1px solid #aaa; } 
::-webkit-scrollbar-thumb:hover { background: #b1b1b1; }
/*
::-webkit-scrollbar-track { background: transparent; } 
::-webkit-scrollbar-track-piece { background: transparent; }
::-webkit-scrollbar-corner { background: transparent; }
::-webkit-resizer { background: transparent; }
*/


