

.BrowserDefaultHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: #dbdbdb;
    text-align: right;
    font-style: bold;
	z-index: 1;
}

/*
.ColumnGroupFooterTextView {
    position: relative;
    background-color: white;
    border-radius: 4px;
    width: calc(100% - 40px);
    margin-top: 7px;

    margin-bottom: 8px;
    min-height: 25px;
    max-height: 25px;
    border: 1px solid rgba(0,0,0,.3);
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 25px;
    overflow: hidden;
}
*/

.BrowserScrollView::-webkit-scrollbar { 
    display: none;  /*  removes scrollbars on Safari and Chrome */
}

/* 
notes on Scroll bars theme options
::-webkit-scrollbar { width: 10px; } 
::-webkit-scrollbar-track { background: #666; } 
::-webkit-scrollbar-thumb { background-color: #f1f1f1; outline: 1px solid slategrey; } 
::-webkit-scrollbar-thumb:hover { background: #b1b1b1; }
*/

.BrowserRowCloseButton {
    display: block;
    right: 20px;
    top: 16px;
    
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    
    font-size: 2em;
    line-height: 2em;
    font-weight: normal;
    white-space: nowrap;
    border: 0px dashed yellow;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.BrowserRowCloseButton:hover {
    color: white;
}

.BrowserRowThumbnailView {
    display: block;
    left: 10px;
    top: 5px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 7px;
    background-color: transparent;
    border: 0px solid #aaa;
}

