  
:root {
    --responsive-margin: 0;
    --code-font-size: 11px;
}

@media (max-width: 600px) {
    :root {
        --responsive-margin: 0;
    }
}
  
@media (min-width: 800px) {
    :root {
        --responsive-margin: -24px;
    }
}

body {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
    max-width: min(45em, 100%);
    margin: 0 auto;
    padding: 0;
}

a:link,
a:visited {
  color: #77b;
  text-decoration: none;
  transition: background-color .15s linear, color .15s linear;
}


h1 {
    color: #2c3e50;
}

code {
    display: block;
    font-family: monospace;
    font-size: 11px;
    line-height: 1.5em;
    color: #333;
    background-color: #f0f0f0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 5px;
    margin-left: 1em;
}

/* --- class --- */

class {
    display: block;
    border: 0px solid #ddd;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 1em;
    margin-right: 1em;
}


classInfo {
    display: block;
    line-height: 1.5em;
}

classInfo > className {
    display: block;
    margin-left: var(--responsive-margin);
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
}

classInfo > description {
    display: block;
    margin-top: 3em;
    white-space: pre-wrap; /* Preserve whitespace */
    margin-bottom: 3.5em;
    font-weight: lighter;
}


classInfo > description:before {
    display: block;
    content: "Class Description ";
    font-weight: bold;
    font-size: 1.25em;
    font-style: normal;
    margin-left:  var(--responsive-margin);
    margin-bottom: 1em;
}

/* --- extends --- */

extends {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-style: normal;
}

extends:before {
    content: "Extends: ";
    font-weight: bold;
    font-style: normal;
}

/* --- filePath --- */

filepath {
    display: block;
    font-weight: normal;
    font-style: normal;
}

filepath:before {
    content: "Source: ";
    font-weight: bold;
    font-style: normal;
}

filepath a {
    text-decoration: none;
}

filepath a:hover {
    text-decoration: underline;
}

/* --- class methods --- */

classmethods {
    display: block;
    margin-bottom: 3.5em;
}

classmethods:before {
    content: "Class Methods ";
    font-weight: bold;
    font-size: 1.25em;
    font-style: normal;
    margin-left:  var(--responsive-margin);
}

/* --- instance methods --- */

instancemethods {
    display: block;
}

instancemethods:before {
    content: "Instance Methods ";
    font-weight: bold;
    font-size: 1.25em;
    font-style: normal;
    margin-left:  var(--responsive-margin);
}

/* --- method --- */

method {
    display: block;
    border-bottom: 0px solid #eee;
    margin-top: 2.5em;
    font-weight: lighter;
}

method > description {
    display: block;
    font-weight: 200;
    white-space: pre-wrap; /* Preserve whitespace */
}

method > name {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
}

method > isAsync {
    display: none;
    background-color: #2ecc71;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}

method > isAsync:before {
    content: "async";
}

method > lineno {
    display: none;
    color: #95a5a6;
    font-size: 12px;
}

method > methodName {
    display: none;
}

method > fullMethodName {
    display: block;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0em;
    font-weight: bold;
}

/* --- parameters --- */

params {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

param {
    display: block;
    margin-left: 0em;
    width: fit-content;
}

paramname {
    display: inline-block;
    font-weight: normal;
}

paramtype {
    display: inline-block;
}

paramtype:before {
    content: "{";
}

paramtype:after {
    content: "}";
}


parameter > description {
    display: inline-block;
    font-style: italic;
    color: #7f8c8d;
}

/* --- method --- */

method > description {
    display: inline-block;
    margin-top: 0em;
    /*margin-bottom: 0.25em;*/
    font-style: normal;
}

author, version {
    display: block;
    color: #7f8c8d;
    font-size: 14px;
    margin-top: 5px;
}

method > fullMethodName[async]::before {
    content: "async ";
    color: #2ecc71;
    font-weight: bold;
}

/* --- throws --- */

throws {
    display: block;
    font-style: normal;
    font-weight: lighter;
}

throws:before {
    content: "throws: ";
    font-style: normal;
    font-weight: normal;
}

/* --- returns --- */

returns {
    display: block;
    font-style: normal;
    font-weight: lighter;
}

returns:before {
    content: "returns: ";
    font-style: normal;
    font-weight: normal;
}

returns > returntype {
    display: inline-block;
}

returns > returntype:before {
    content: "{";
}

returns > returntype:after {
    content: "}";
}

returns > description {
    display: inline-block;
}

/* --- author --- */

author {
    display: none;
    color: #7f8c8d;
}

author:before {
    content: "author: ";
    font-weight: normal;
    font-style: normal;
}

/* --- version --- */

version {
    display: none;
    color: #7f8c8d;
}

version:before {
    content: "version: ";
    font-weight: normal;
    font-style: normal;
}

isstatic {
    display: none;
}


access {
    display: none;
}
