body {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a:link,
a:visited {
  color: #77b;
  text-decoration: none;
  transition: background-color .15s linear, color .15s linear;
}


h1 {
    color: #2c3e50;
}

class {
    display: block;
    border: 0px solid #ddd;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 2em;
}

/* --- extends --- */

extends {
    display: block;
    font-style: italic;
    color: #7f8c8d;
    font-weight: bold;
    font-style: italic;
}

extends:before {
    content: "extends: ";
    font-weight: bold;
    font-style: italic;
}

/* --- filePath --- */

filepath {
    display: block;
    color: #7f8c8d;
    font-weight: bold;
    font-style: italic;
}

filepath:before {
    content: "source: ";
    font-weight: bold;
    font-style: italic;
}

filepath a {
    color: #7f8c8d;
    text-decoration: none;
}

filepath a:hover {
    text-decoration: underline;
}

/* --- description --- */

description {
    display: block;
    font-weight: 200;
    white-space: pre-wrap; /* Preserve whitespace */
}

classmethods {
    display: block;
    margin-bottom: 3.5em;
}

classmethods:before {
    content: "Class Methods ";
    font-weight: bold;
    font-size: 1.25em;
    font-style: normal;
    margin-left: -2em;
}


instancemethods {
    display: block;
}

instancemethods:before {
    content: "Instance Methods ";
    font-weight: bold;
    font-size: 1.25em;
    font-style: normal;
    margin-left: -2em;
}

method {
    display: block;
    border-bottom: 0px solid #eee;
    margin-top: 2.5em;
    font-weight: lighter;

}

method > name {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 10px;
}

method > async {
    display: inline-block;
}

method > async:before {
    content: "async ";
    color: #2ecc71;
    font-weight: bold;
    white-space: nowrap;
}

method > lineno {
    display: none;
    color: #95a5a6;
    font-size: 12px;
    margin-left: 10px;
}

method > methodName {
    display: none;
}

method > fullMethodName {
    display: block;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0em;
    font-weight: bold;
}

parameters {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

parameter {
    display: block;
    margin-left: 1em;
    width: fit-content;
}

parameter > name {
    display: inline-block;
    color: #7f8c8d;
    font-weight: normal;
}

paramname {
    display: inline-block;
    color: #7f8c8d;
    font-weight: normal;
}

paramtype {
    display: inline-block;
    color: #7f8c8d;
    font-weight: normal;
}

parameter > type {
    display: inline-block;
    font-style: italic;
    color: #7f8c8d;
}

parameter > default {
    display: inline-block;
    font-style: italic;
    color: #7f8c8d;
}

parameter > description {
    display: inline-block;
    font-style: italic;
    color: #7f8c8d;
}

method > description {
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-style: normal;
}

author, version {
    display: block;
    color: #7f8c8d;
    font-size: 14px;
    margin-top: 5px;
}

method > fullMethodName[async]::before {
    content: "async ";
    color: #2ecc71;
    font-weight: bold;
}

classInfo {
    display: block;
    line-height: 1.5em;
}

classInfo > className {
    display: block;
    margin-left: -2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
}

classInfo > extends {
    display: block;
    font-style: italic;
    color: #7f8c8d;
}

classInfo > description {
    display: block;
    margin-top: 3em;
    white-space: pre-wrap; /* Preserve whitespace */
    margin-bottom: 3.5em;
}


classInfo > description:before {
    display: block;
    content: "Class Description ";
    font-weight: bold;
    font-size: 1.25em;
    font-style: normal;
    margin-left: -2em;
    margin-bottom: 1.5em;
}

/* --- throws --- */

throws {
    display: block;
    color: #7f8c8d;
    font-style: italic;
    font-weight: lighter;
}

throws:before {
    content: "throws: ";
    font-style: italic;
    font-weight: normal;
}

/* --- returns --- */

returns {
    display: block;
    color: #7f8c8d;
    font-style: italic;
    font-weight: lighter;
}

returns:before {
    content: "returns: ";
    font-style: italic;
    font-weight: normal;
}

returns > returntype {
    display: inline-block;
    color: #7f8c8d;
    font-style: italic;
    font-weight: normal;
}

returns > description {
    display: inline-block;
    color: #7f8c8d;
    font-style: italic;
    font-weight: lighter;
}

/* --- author --- */

author {
    display: none;
    color: #7f8c8d;
}

author:before {
    content: "author: ";
    font-weight: normal;
    font-style: normal;
}

/* --- version --- */

version {
    display: none;
    color: #7f8c8d;
}

version:before {
    content: "version: ";
    font-weight: normal;
    font-style: normal;
}

/* --- access --- */

method > access {
    display: none;
    font-style: italic;
    color: #7f8c8d;
    margin-right: 10px;
}

method > access[static]::before {
    content: "static ";
    font-weight: bold;
}

method > access[private]::before {
    content: "private ";
    font-weight: bold;
}

method > access[constructor]::before {
    content: "constructor ";
    font-weight: bold;
}

isstatic {
    display: none;
}

/* ... (rest of the existing styles) */

